<div class="header" style="display: flex">
  <div style="flex-grow: 1">
    <div class="arg-name">{{ type.name }}</div>
    :
    <input *ngIf="type.type==='string' || type.type==='int'" [(ngModel)]="value" (blur)="confirm()" (keyup.enter)="confirm()" />
    <select *ngIf="type.type==='choice'" [(ngModel)]="value">
      <option *ngFor="let choice of type.choices" [ngValue]="choice.value.toString()">{{choice.name + ' (' + choice.value + ')'}}</option>
    </select>
  </div>

  <div (click)="delete.emit()">
    <img class="collapse-button delete-button" src="assets/icons/trash-2.svg" />
  </div>
</div>
