<div style="flex-grow: 1; overflow: auto">
  <div style="display: flex; height: 100%">
    <div style="flex-grow: 1; flex-basis: 0; overflow: auto; border-right: solid #fff2 2px;">
      <app-object-viewer
        *ngIf="data"
        #objectViewer
        [data]="data"
        (updateData)="handleUpdateData($event)"
        (selectObject)="showObject($event)"
      >
      </app-object-viewer>
    </div>
    <div style="flex-grow: 1; flex-basis: 0">
      <ng-container *ngIf="selected">
        {{ selected.data.name }}
      </ng-container>
    </div>
  </div>
</div>
<div>
  <input #xmlInp (click)="updateXml()" (keyup.enter)="readXml()" class="xml-field" [(ngModel)]="xml" />
</div>
