<div class="inverted-col">
  <div class="obj-content" *ngIf="!collapsed">
    <div class="obj-tab"></div>
    <div class="obj-body">
      <!-- args -->
      <div class="obj-args" *ngIf="data.args">
        <div *ngFor="let arg of data.args | keyvalue">
          <div class="primitive" *ngIf="argTypeDict[arg.key].name">
            <!-- primitive arg -->
            <app-primitive-viewer
              [type]="argTypeDict[arg.key]"
              [value]="arg.value"
              (updateValue)="updateArg(arg.key, $event)"
              (delete)="deleteArg(arg.key)"
            ></app-primitive-viewer>
          </div>

          <div *ngIf="!argTypeDict[arg.key].name">
            <!-- object arg -->
            <app-object-viewer
              #objChildren
              [data]="arg.value"
              (updateData)="updateArg(arg.key, $event)"
              (selectObject)="selectChildObject($event)"
              (delete)="deleteArg(arg.key)"
            ></app-object-viewer>
          </div>
        </div>
      </div>

      <!-- add args -->
      <div class="add-args-panel">
        <ng-container *ngFor="let argType of type.args">
          <div
            class="add-arg-button"
            *ngIf="argType.name && data.args[argType.name] === undefined"
            (click)="addArg(argType)"
          >
            +{{ argType.name }}
          </div>
          <div
            class="add-arg-button"
            *ngIf="argType.name === undefined && data.args[argType.type] === undefined"
            (click)="addArg(argType)"
          >
            +{{ argType.type }}
          </div>
        </ng-container>
      </div>



      <!-- array -->
      <div class="obj-array" *ngIf="data.array">
        <div *ngFor="let arr of data.array; let i = index">
          <div class="primitive" *ngIf="arrayTypeDict[arr.name].name">
            <!-- primitive arr -->
            <app-primitive-viewer
              [type]="arrayTypeDict[arr.name]"
              [value]="arr.value"
              (updateValue)="updateArrPrimitive(i, $event)"
              (delete)="deleteArr(i)"
            ></app-primitive-viewer>
          </div>

          <div *ngIf="!arrayTypeDict[arr.name].name">
            <!-- object arr -->
            <app-object-viewer
              #objChildren
              [data]="arr"
              (updateData)="updateArr(i, $event)"
              (selectObject)="selectChildObject($event)"
              (delete)="deleteArr(i)"
            ></app-object-viewer>
          </div>
        </div>
      </div>

      <!-- add arrs -->
      <div class="add-args-panel">
        <ng-container *ngFor="let arrType of type.array">
          <div
            class="add-arg-button arr"
            *ngIf="arrType.name"
            (click)="addArr(arrType)"
          >
            +{{ arrType.name }}
          </div>
          <div
            class="add-arg-button arr"
            *ngIf="arrType.name === undefined"
            (click)="addArr(arrType)"
          >
            +{{ arrType.type }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="obj-header" (click)="selectThisObject($event)">
    <div style="flex-grow: 1">
      <span *ngIf="collapsed" (click)="toggleCollapsed($event)"
        ><img class="collapse-button" src="assets/icons/plus-square.svg"
      /></span>
      <span *ngIf="!collapsed" (click)="toggleCollapsed($event)"
        ><img class="collapse-button" src="assets/icons/minus-square.svg"
      /></span>
      <span class="obj-name" (click)="expandRecursive($event)">{{
        data.name
      }}</span>
      <span *ngIf="!collapsed">:</span>
    </div>

    <div (click)="clickDelete($event)">
      <img class="collapse-button delete-button" src="assets/icons/trash-2.svg" />
    </div>
  </div>
</div>
