<div class="inverted-col">
  <div class="obj-content" *ngIf="!collapsed">
    <div class="obj-tab"></div>
    <div class="obj-body">
      <div class="obj-args" *ngIf="data.args">
        <div *ngFor="let arg of data.args | keyvalue">
          <div class="primitive" *ngIf="argTypeDict[arg.key].name">
            <!-- primitive arg -->
            <app-primitive-viewer
              [type]="argTypeDict[arg.key]"
              [value]="arg.value"
              (updateValue)="updateArg(arg.key, $event)"
            ></app-primitive-viewer>
          </div>

          <div *ngIf="!argTypeDict[arg.key].name">
            <!-- object arg -->
            <app-object-viewer
              #objChildren
              [data]="arg.value"
              (updateData)="updateArg(arg.key, $event)"
              (selectObject)="selectChildObject($event)"
            ></app-object-viewer>
          </div>
        </div>
      </div>

      <div class="obj-array" *ngIf="data.array">
        <div *ngFor="let arr of data.array; let i = index">
          <div class="primitive" *ngIf="arrayTypeDict[arr.name].name">
            <!-- primitive arr -->
            <app-primitive-viewer
              [type]="arrayTypeDict[arr.name]"
              [value]="arr.value"
              (updateValue)="updateArrPrimitive(i, $event)"
            ></app-primitive-viewer>
          </div>

          <div *ngIf="!arrayTypeDict[arr.name].name">
            <!-- object arr -->
            <app-object-viewer
              #objChildren
              [data]="arr"
              (updateData)="updateArr(i, $event)"
              (selectObject)="selectChildObject($event)"
            ></app-object-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="obj-header" (click)="selectThisObject($event)">
    <span *ngIf="collapsed" (click)="toggleCollapsed($event)"
      ><img class="collapse-button" src="assets/icons/plus-square.svg"
    /></span>
    <span *ngIf="!collapsed" (click)="toggleCollapsed($event)"
      ><img class="collapse-button" src="assets/icons/minus-square.svg"
    /></span>
    <span class="obj-name" (click)="expandRecursive($event)">{{ data.name }}</span>
    <span *ngIf="!collapsed">:</span>
  </div>
</div>
