
:host {
  display: block;
  height: 100%;
}

.inverted-col {
  display: flex;
  flex-direction: column-reverse;
}

.obj-name {
  font-size: 125%;
  font-style: italic;
  font-weight: bold;
}
.obj-name:hover {
  background: #fff1;
  text-decoration: underline;
}

.obj-header {
  cursor: pointer;
}
.obj-header:hover {
  background: #fff2;
}

.collapse-button {
  height: 20px;
  margin-bottom: -6px;
  margin-right: 6px;
}

.collapse-button:hover {
  background: #fff6;
}

.obj-content:hover ~ .obj-header {
  background: #fff4;
}

.obj-content {
  margin-bottom: 6px;
  display: flex;
  border-left: solid #fff2 2px;
  border-top: solid #fff2 2px;
  border-bottom: solid #fff2 2px;
}

.obj-content:hover {
  border-left: solid rgba(187, 52, 52, 0.533) 2px;
  border-top: solid #fff2 2px;
  border-bottom: solid #fff2 2px;
}

.obj-tab {
  width: 20px;
}

.obj-body {
  flex-grow: 1;
}

.primitive:hover {
  background: #fff2;
}
